body {
  margin: 0;
  padding: 0;
  background-image: url(https://logique.s3-ap-southeast-1.amazonaws.com/2018/07/coding-PHP-trik.jpg);
  background-size: cover;
}

.box {
  width: 450px;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: sans-serif;
}

.box-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.box h1 {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}

.section {
  color: white;
}

.this {
  color: white;
}
